@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
overflow-x: hidden;
font-family: 'Montserrat', sans-serif;
background-color: #0D0D18;
}

img{
  width: 100% !important;
  display:block !important;
}

h1{
  font-family: 'Inter', sans-serif;

}

li{
  list-style: none;
}

a{
  display: block;
  text-decoration: none;
  color: inherit;
}
input,button{
font: inherit;
display: block;
}